
body{
    background-image: url('../img/same_bg.png');
    background-repeat: repeat-y;
    background-position: center;
}

/* Buttons-------------------------------------------------- */
.btn_box{
    width: 100%;
    text-align: center;
    outline: #f0c 2px solid;
}
.btn{
    display: inline-block;
    width: 25%;
    margin: auto;
    cursor: pointer;
    position: relative;
  text-align: center;
  outline: rgb(123, 63, 201) 2px solid;

}
.btn > img{
    width: 100%;
}
.btn_text{
    font-size: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 767px){
  .btn_box {
    width: 95%;
    order: 3;
  }
  .btn{
    width: 45%;
  }
  .btn_text{
    font-size: 24px;
  }
}

/* 最左邊 list跟價錢 的設定------------------------------ */

  @media (max-width: 767px) {
    .container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  /* list 電腦版*/
  .cust_listBox {
    outline: rgb(85, 246, 179) 5px solid;
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  
  
  /* List RWD */
  @media (max-width: 767px){
    .wrap > .cust_listBox {
      width: 95%;
      outline: rgb(206, 98, 27) 3px solid;
     order: 5;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
    .RWD-list_box{
      /* flex: 4; */
      width: 75%;
      outline: #f0c 3px solid;
    }
    .RWD-list_box > img{
      width: 100%;
    }
    .price_box{
      width: 25%;
      /* flex: 1; */
      outline: rgb(140, 0, 255) 3px solid;
    }
    .price_box > img{
      width: 100%;
    }
  }
  /* List RWD */

/* list and RWD-list */
.list{
  display: block;
}
.RWD-list{
  display: none;
}
@media (max-width: 767px){
  .list{
    display: none;
  }
  .RWD-list{
    display: block;
  }
}

/* ----------------------favor---------------------- */
/* ------------------------------------------------- */
.cust_slogan{
    padding: 50px 0;
    font-size: 28px;
    display: block;
    text-align: center;
}


/* flex setting---------------------- */
.cust_favor > .container > .wrap{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-between;

}
.cust_favor_type{
  display: flex;
  justify-content: space-between;
  width: 70%;
  /* align-items: center; */
  align-items: flex-end;  
}
.favor_box{
  width: 100%;
}

/* position---------------------- */
.favor_jp, .favor_west, .favor_china{
  position: relative;
  cursor: pointer;
}
.pie_img, .favor_style, .favor_title, .mascot{
  position: absolute;
}

/* 派圖片 */
.pie_img{ 
  width: 100%;  
  top: 22%;
  right: 0%;
}

/* 風格文字--西洋風 */
.favor_style{ 
  font-size: 50px;
  top: 7%;
  left: 15%;
}

/* 基底名字--南瓜派 */
.favor_title{ 
    font-size: 50px;
    writing-mode: vertical-lr;
    bottom: 17%;
    left: 22%;
}
/* 吉祥物 */
.mascot{
  width: 60%;
  bottom: 0;
  right: -10%;
  transform: rotate(10deg);
  opacity: 0;
  transition: .2s;
}

/* 吉祥物 hover---------------------- */
.favor_box:hover ~ .mascot,
.pie_img:hover ~ .mascot,
.favor_style:hover ~ .mascot,
.favor_title:hover ~ .mascot,
.mascot:hover{
  opacity: 1;
}

@media (max-width: 767px) {
  .favor_jp, .favor_west, .favor_china{
    outline: #f0c 2px solid;
  }
  .cust_favor_type{
    outline: purple 3px solid;
  }
  .cust_favor > .container > .wrap{
    justify-content: center;
  }
  .cust_favor_type{
    width: 95%;
    justify-content: center;
  }

  .favor_jp, .favor_west, .favor_china{
    display: none;
  }
  .show_favor{
    display: block;
  }
  .mascot{
    opacity: 1;
  }
}



/* 第一步 南瓜雲 */
.cust_titleshow_step1{
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.cust_titleshow_step1 > img{
    width: 70%;
    margin: -10% auto 0;
}
.cust_titleshow_step1 > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 1px solid #000; */
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }


/* 第二三步 南瓜雲 */
  
  .cust_titleshow {
    position: relative;
    border: 1px solid #000;
  }
  
  .cust_titleshow > img {
    width: 70%;
    margin: 0 auto;
  }
  
  .cust_titleshow > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #000;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  


/* -------------------------配票 & 裝飾------------------------- */
/* ------------------------------------------------------------ */
@media (max-width: 767px){
  .cust_decor > .container > .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.cust_decor > .container > .wrap {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  /* 中間----------------------------------------------- */
.cust_scrollbox {
    width: 50%;
    border: 5px solid rgb(214, 17, 198);
  }

  @media (max-width: 767px){
    .cust_scrollbox {
    width: 95%;
    }
  }

  /* ps. cust_titleshow 南瓜雲 在上面 */

  /* 派 桌子 吉祥物 position */
  .cust_pieshow {
    position: relative;
    border: 5px solid rgb(67, 70, 228);
    background-color: #ccc;
    padding-bottom: 700px;
  }
  @media (max-width: 767px){
    .cust_pieshow {
      padding-bottom: 550px;
    }
  }  
  .cust_pieshow > .pie {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  @media (max-width: 767px){
    .cust_pieshow > .pie{
      top: 53%;
    }
  }  
  .cust_pieshow > .prople {
    position: absolute;
    top: 0;
    left: 45%;
    transform: rotate(10deg);
  }
  @media (max-width: 767px){
    .cust_pieshow > .prople {
      width: 40%;
    }
  }  
  .cust_pieshow > .wood {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }



  /* 右邊----------------------------------------------- */
  /* 材料背景設定 */
  .cust_aside {
    width: 28%;
    position: relative;
  }
  
  @media (max-width: 767px) {
    .cust_aside {
      width: 95%;
    }
  }
  
  .cust_aside > img {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 767px) {
    .cust_aside > img {
      display: none;
    }
  }
  
/* 材料內容物 */

  .cust_ingred_box {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
  }
  
  
  @media (max-width: 767px) {
    .cust_ingred_box {
      
    outline: rgb(25, 105, 22) 5px solid;
    
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(-50%); */
    flex-wrap: nowrap;
    justify-content: space-between;
    }
  }
  
  .cust_ingred_box > .cust_item {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    cursor: pointer;
  }
  @media (max-width: 767px) {
    .cust_ingred_box > .cust_item {
      background-color: #fcc;
      border-radius: 10px;
      width: 16%;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }  

  .cust_ingred_box > .cust_item > img {
    line-height: 100%;
    margin: auto;
    width: 100%;
  }
  .cust_ingred_box > .cust_item > span{
    outline: greenyellow 1px solid;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .cust_ingred_box > .cust_item > span{
      font-size: 16px;
    }
  }
  
  
  
/* ----------------------------message---------------------------- */
/* --------------------------------------------------------------- */
.card_message{
    background-image: url('../img/message.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-bottom: 65%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form{
    display: block;
    width: 80%;
    margin-top: 27%; 
}
.msgTitle{
    width: 50%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
    margin: 10px;
    padding: 0 5px;
}
.msgContent{
    resize: none;
    /* display: block; */
    /* max-width: 100%; */
    /* min-width: 100%; */
    /* max-height: 50%; */
    /* min-height: 100%; */
    /* width: 100%; */
    /* height: 10%; */
    max-height: 300px;
    /* height: 30%; */
    /* height: 0; */
    /* padding-bottom: 100%; */
    /* padding-bottom: 10%; */
    /* position: absolute; */
    border: 3px black solid;
    border-radius: 10px;
    padding: 5px;

    width: 100%; /*自动适应父布局宽度*/
	/* overflow: auto; */
	/* word-break: inherit; */
}

@media (max-width: 767px) {
  .msgContent{
    height: 95px;
  }
}

