*{
    /* outline: red 1px solid; */
}
section, .container, .mascot_box, .woodtable, .mainpie_box, .mainpie_box > img, .btn_box, .btn{
    outline: red 1px solid;
}
body{
    background-image: url('../img/same_bg.png');
}
.pineapple_img, .redbean_img, .almond_img, .egg_img, .ham_img, .springOnion_img{
    width: 100%;
}
.clearfix{
    clear: both;
}
/* Buttons */
.btn_box{
    text-align: center;
}
.btn{
    width: 250px;
    display: inline-block;
    cursor: pointer;
}
.btn > img{
    width: 100%;
}
/* .submitContent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    display: block;
    margin: auto;
} */

.cust_title_box{
    background-image: url('../img/title.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 270px;
}
.cust_title{
    text-align: center;
    padding-top: 145px;
}


/* ----------------------favor---------------------- */
/* ------------------------------------------------- */
.cust_slogan{
    padding: 50px 0;
    font-size: 28px;
    display: block;
    text-align: center;
}
.cust_favor_list{
    width: 250px;
    float: left;
    margin-top: -60px;
}
.cust_favor_type{
    width: 950px;
    float: left;
}
.first_step_box{
    width: 100%;
    height: 290px;
    background-image: url('../img/pumpkin.png');
    transform: rotate(-10deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.first_step{
    width: 100%;
    transform: translateX(0) translateY(150px) rotate(10deg);
    text-align: center;
}
.favor_jp, .favor_west, .favor_china{
    width: 33.33%;
    float: left;
    position: relative;
}
.favor_box{
    float: right;   /* 讓基底的籤條靠右切齊 */
    margin: 20px 0;
    cursor: pointer;
}
.pie_img, .favor_style, .favor_title{
    position: absolute;
}
.pie_img{       /* 派圖片 */
    top: 170px;
    right: 30px;
}
.favor_style{   /* 風格文字--西洋風 */
    font-size: 50px;
    top: 60px;
    right: 40px;
}
.favor_title{   /* 基底名字--南瓜派 */
    font-size: 50px;
    writing-mode: vertical-lr;
    bottom: 120px;
    right: 125px;
}



/* -------------------------ingredient------------------------- */
/* ------------------------------------------------------------ */
.cust_aside, .scroll_box{
    float: right;
}


/* **********right ingredient manu********** */
.cust_aside{
    width: 280px;
}
/* ingredient box */
.cust_ingred_bg{    /* item_bgc */
    width: 280px;
    height: 700px;
    /* 
    height: 0;
    padding-bottom: 100%; 
    */
    background-image: url('../img/asideBox.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}
.cust_ingred_box{   /* item_group */
    position: absolute;
    width: 70%;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* ingredient elements */
.ingred_item{   /* item_food */
    width: 45%;
    /*     
    width: 120px;
    float: left;
    padding: 10px;
    box-sizing: border-box; 
    */
}


.level{
    padding: 10px;
    font-size: 25px;
}
.sweet, .health, .salty{
    line-height: 0;
    margin: 10px 0;
}
.barDefault{    /* taste bar box */
    display: inline-block;
    width: 200px;
    height: 28px;
    padding: 4px;
    border-radius: 15px;
    background-color: #fff;
}
.sweetBar, .healthBar, .saltyBar{   /* taste bar default */
    height: 20px;
    min-width: 22px;
    border-radius: 13px;
}
.sweetBar{
    width: 100px;
    background-color: orchid;
}
.healthBar{
    width: 70px;
    background-color: lightseagreen;
}
.saltyBar{
    width: 150px;
    background-color: sienna;
}

/* **********left scroll box********** */
.scroll_box{
    width: 920px;
}
.cust_listBox{
    width: 250px;
    float: left;
}
.cust_mainbox{
    width: 670px;
    float: left;
}
.cust_list_item{
    width: 100%;
    height: 560px;
    background-image: url('../img/list.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}
.cust_price{
    width: 250px;
    height: 300px;
    margin: 10px 0;
    background-image: url('../img/price.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}


/* Main area for the show */
.cust_showArea{
    position: relative;
}
.sec_step_box{
    width: 330px;
    height: 270px;
    background-image: url('../img/pumpkin.png');
    transform: translateX(25px) translateY(30px) rotate(-10deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.sec_step{
    width: 250px;
    transform: translateX(35px) translateY(150px) rotate(10deg);
    text-align: center;
}

@keyframes move{
    0% {
        transform: translateX(60%) translateY(-40%) rotate(10deg);
    }
    50% {
        transform: translateX(60%) translateY(-45%) rotate(10deg);
    }
    100% {
        transform: translateX(60%) translateY(-40%) rotate(10deg);
    }
}
/* mascot */
.mascot_box{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translateX(0%) translateY(40%) rotate(10deg);
    animation: move 2s linear infinite;
}
.mascot{
   
    height: 100%;
}
/* pie */
.mainpie_box{
    width: 70%;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -35%;
}
.mainpie_box > img{
    width: 100%;
}
/* table */
.woodtable{
    /* put the img at the html. */
    /*
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 13%;
    */
    
    width: 100%;
    height: 200px;
    background-image: url('../img/wood.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    position: absolute;
    top: 70%;
}






/* -------------------------decoration------------------------- */
/* ------------------------------------------------------------ */






/* ----------------------------message---------------------------- */
/* --------------------------------------------------------------- */
.card_message{
    background-image: url('../img/message.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    height: 800px;
}
form{
    display: block;
    width: 950px;
    position: absolute;
    top: 330px;
    left: 50%;
    margin-left: -475px;
}
.msgTitle{
    width: 400px;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
    margin: 10px;
    padding: 0 5px;
}
.msgContent{
    max-width: 950px;
    min-width: 950px;
    max-height: 300px;
    min-height: 300px;
    border: 3px black solid;
    border-radius: 10px;
    padding: 5px;
}

