

/* -------------------------ingredient------------------------- */
/* ------------------------------------------------------------ */
.cust_aside, .scroll_box{
    float: right;
}


/* **********right ingredient manu********** */
.cust_aside{
    width: 280px;
}
/* ingredient box */
.cust_ingred_bg{    /* item_bgc */
    width: 280px;
    height: 700px;
    /* 
    height: 0;
    padding-bottom: 100%; 
    */
    background-image: url('../img/asideBox.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}
.cust_ingred_box{   /* item_group */
    position: absolute;
    width: 70%;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* ingredient elements */
.ingred_item{   /* item_food */
    width: 45%;
    /*     
    width: 120px;
    float: left;
    padding: 10px;
    box-sizing: border-box; 
    */
}


.level{
    padding: 10px;
    font-size: 25px;
}
.sweet, .health, .salty{
    line-height: 0;
    margin: 10px 0;
}
.barDefault{    /* taste bar box */
    display: inline-block;
    width: 200px;
    height: 28px;
    padding: 4px;
    border-radius: 15px;
    background-color: #fff;
}
.sweetBar, .healthBar, .saltyBar{   /* taste bar default */
    height: 20px;
    min-width: 22px;
    border-radius: 13px;
}
.sweetBar{
    width: 100px;
    background-color: orchid;
}
.healthBar{
    width: 70px;
    background-color: lightseagreen;
}
.saltyBar{
    width: 150px;
    background-color: sienna;
}

/* **********left scroll box********** */
.scroll_box{
    width: 920px;
}
.cust_listBox{
    width: 250px;
    float: left;
}
.cust_mainbox{
    width: 670px;
    float: left;
}
.cust_list_item{
    width: 100%;
    height: 560px;
    background-image: url('../img/list.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}
.cust_price{
    width: 250px;
    height: 300px;
    margin: 10px 0;
    background-image: url('../img/price.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}


/* Main area for the show */
.cust_showArea{
    position: relative;
}
.sec_step_box{
    width: 330px;
    height: 270px;
    background-image: url('../img/pumpkin.png');
    transform: translateX(25px) translateY(30px) rotate(-10deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.sec_step{
    width: 250px;
    transform: translateX(35px) translateY(150px) rotate(10deg);
    text-align: center;
}

@keyframes move{
    0% {
        transform: translateX(60%) translateY(-40%) rotate(10deg);
    }
    50% {
        transform: translateX(60%) translateY(-45%) rotate(10deg);
    }
    100% {
        transform: translateX(60%) translateY(-40%) rotate(10deg);
    }
}
/* mascot */
.mascot_box{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translateX(0%) translateY(40%) rotate(10deg);
    animation: move 2s linear infinite;
}
.mascot{
   
    height: 100%;
}
/* pie */
.mainpie_box{
    width: 70%;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -35%;
}
.mainpie_box > img{
    width: 100%;
}
/* table */
.woodtable{
    width: 100%;
    height: 200px;
    background-image: url('../img/wood.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    position: absolute;
    top: 70%;
}
