.cust_favor{
    > .container{
        .cust_slogan{
            padding: 50px 0;
            font-size: 28px;
            display: block;
            text-align: center;
        }
        .wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include media(md){
                justify-content: center;
            }

            .cust_favor_type{
                display: flex;
                justify-content: space-between;
                width: 70%;
                align-items: flex-end;
                @include media(md){
                    outline: purple 3px solid;
                    width: 95%;
                    justify-content: center;
                }

                &:nth-child(1),
                :nth-child(2),
                :nth-child(3){
                    position: relative;
                    cursor: pointer;
                    @include media(md){
                        display: none;
                    }
                }

                @at-root .show_favor{
                    @include media(md){
                        display: block;
                    }
                }
                @at-root .favor_box{
                    width: 100px;
                    &:hover .masco{    // don't know...
                        opacity: 1;
                    }  
                }
                @at-root .pie_img{   // 派圖片
                    position: absolute;
                    width: 100%;  
                    top: 22%;
                    right: 0%;
                    &:hover .masco{    // don't know...
                        opacity: 1;
                    }  
                }
                @at-root .favor_style{   // 風格文字--西洋風
                    position: absolute;
                    font-size: 50px;
                    top: 7%;
                    left: 15%;
                    &:hover .masco{    // don't know...
                        opacity: 1;
                    }  
                }
                @at-root .favor_title{   // 基底名字--南瓜派
                    position: absolute;
                    font-size: 50px;
                    writing-mode: vertical-lr;
                    bottom: 17%;
                    left: 22%;
                    &:hover .masco{    // don't know...
                        opacity: 1;
                    }  
                }
                @at-root .mascot{       // 吉祥物
                    position: absolute;
                    width: 60%;
                    bottom: 0;
                    right: -10%;
                    transform: rotate(10deg);
                    opacity: 0;
                    transition: .2s;
                    &:hover{
                        opacity: 1;
                    }
                    @include media(md){
                        opacity: 1;                      
                    }         
                }
                // ...
            }
        }
    }
}